---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
import Stories from '../components/Stories.astro';
import KnowledgeBase from '../components/KnowledgeBase.astro';
import PageFooter from '../components/PageFooter.astro';
---

<Layout title="#UDARte historie">
  <PageHeader />
  <main>
    <Stories />
    <KnowledgeBase />
  </main>
  <PageFooter />
</Layout>
