---
import FileLink from './FileLink.astro';
import PageSection from './PageSection.astro';
import Tape from './Tape.astro';
---
<style>
  .section-knowledge-base {
    position: relative;

    &::before {
      content: '';

      position: absolute;

      grid-column: 1 / 4;
      grid-row: 3;

      inline-size: 100%;
      block-size: 100%;

      background-color: var(--clr-bg);

      @media (width < 600px) {
        grid-row: 3 / 4;
      }
    }
  }

  .downloads {
    padding-block: min(120px, 6.25vw);
    padding-inline: min(192px, 10vw);
    list-style-type: none;
    background-color: var(--clr-bg);

    li + li {
      margin-block-start: min(1.35vw, 26px);

      @media (width < 600px) {
        margin-block-start: min(42px, 11.2vw);
      }
    }

    @media (width < 600px) {
      padding: min(54px, 9.6vw) min(27px, 4.8vw);
    }
  }

  .subtitle {
    margin-block-end: min(45px, 2.3438vw);

    font-size: var(--f-s-xs);
    font-weight: var(--f-w-bold);
    color: var(--clr-1);
    text-align: center;
  }
</style>

<PageSection id="knowledge-base" class="grid section-knowledge-base" title="Baza wiedzy">
  <p slot="subtitle" class="narrow subtitle">Materiały do pobrania</p>
  <Tape />
  <ul class="downloads narrow">
    <li>
      <FileLink href="/downloads/ZARIXA_udartehistorie_ulotka_2xDL_CELON_30_07_08_2024_GTO_DRUK (2).pdf">UDAR - JAK ZAPOBIEGAĆ</FileLink>
    </li>
    <li>
      <FileLink href="/downloads/ZARIXA_PLAKAT_UDAR_A3_CELON_29_16_07_2024_v3_prev (9).pdf">Jakie schorzenia mogą prowadzić do udarów?</FileLink>
    </li>
  </ul>
</PageSection>