<style>
  footer {
    padding-block: min(73px, 3.8vw) min(50px, 2.6vw);
    color: var(--clr-1);
    text-transform: uppercase;
  }

  .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .accent {
    color: var(--clr-accent);
  }

  .tiny {
    position: absolute;
    inset: 50% 0 auto auto;
    translate: 0 -50%;
    font-size: var(--f-s-pico);
  }

  h2 {
    font-size: var(--f-s-xxs);
  }

  .smaller {
    font-size: var(--f-s-tiny);
  }
</style>

<footer class="grid">
  <div class="wrapper narrow">
    <h2>#Udar<span class="accent"><span class="smaller">te</span> historie</span></h2>
    <span class="tiny">CELON 32/13/08/2024</span>
  </div>
</footer>