---
import ButtonLink from './ButtonLink.astro';
import CoverImage from './CoverImage.astro';

import moreBackground from '../assets/more-link-badge.png';

---
<style>
  .page-header {
    isolation: isolate;

    background-image: linear-gradient(to bottom, #ececec, #ececec), linear-gradient(to bottom, #010101, #010101);
    background-repeat: no-repeat;
    background-position: top left, top right;
    background-size: 64vw 100%, 36vw 100%;

    .content, .cover-image {
      grid-row: 1;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: min(109px, 5.68vw);
      align-items: flex-start;
      justify-content: space-between;

      padding-block: min(61px, 3.18vw) min(121px, 6.3vw);

      @media (width < 600px) {
        grid-column: full;
        gap: unset;
        padding-block: unset;
      }
    }

      .more {
        display: grid;

        block-size: min(78px, 4.0625vw);
        margin-block-start: auto;

        font-size: var(--f-s-s);
        line-height: 1;
        text-transform: uppercase;

        @media (width < 1000px) {
          block-size: auto;
        }

        @media (width < 600px) {
          margin-inline: auto;
          padding-inline: 8%;
          text-wrap: balance;
        }
      }

      .scrollers {
        > a {
          display: inline-grid;

          & + & {
            margin-inline-start: min(34px, 1.78vw);
          }
        }

        @media (width < 600px) {
          display: flex;
          gap: 6.133vw;
          justify-content: center;

          inline-size: 100%;
          padding-block: 6.93vw;

          background-color: var(--clr-bg);

          > a {
            display: grid;
            aspect-ratio: 3.581;
            inline-size: 41.07vw;
            block-size: unset;
          }
        }
      }

    @media (width < 600px) {
      background-color: var(--clr-bg);
      background-image: unset;
    }
  }

  h1 {
    grid-area: title;

    font-family: var(--f-fam-2);
    font-size: var(--f-s-xl);
    line-height: 0.8;
    color: var(--clr-accent);
    text-transform: uppercase;

    &::first-line {
      font-size: var(--f-s-l);
    }

    > span {
      font-size: var(--f-s-xxl);
      color: var(--clr-4);
    }

    @media (width < 600px) {
      margin-block: min(22px, 5.87vw);
      margin-inline: auto;
    }
  }
</style>

<header class="page-header">
  <div class="grid container">
    <CoverImage  />
    <div class="content">
      <div class="scrollers">
        <ButtonLink href="#stories">Historie</ButtonLink>
        <ButtonLink href="#knowledge-base">Baza wiedzy</ButtonLink>
      </div>
      <CoverImage class="in-content" />
      <h1>
       <span>#Udar</span>te<br />
       historie
     </h1>
     <ButtonLink class="more" backgroundSrc={moreBackground} href="#knowledge-base">Dowiedz się więcej</ButtonLink>
    </div>
  </div>
</header>