---
import '../styles/index.css';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
  html {
    scroll-behavior: smooth;
  }

	body {
    font-family: var(--f-fam-1);
    background-color: var(--clr-bg-alt);
  }

  main {
    overflow: clip;
  }

  :focus {
    outline-color: var(--clr-accent);
    outline-offset: 3px;
  }
</style>
